:root{
  --clr-p-dark-cyan: hsl(158, 36%, 37%);
  --clr-p-dark-cyan-hover: hsl(156, 42%, 18%);
  --clr-p-cream: hsl(30, 38%, 92%);

  --clr-n-dark-blue:  hsl(212, 21%, 14%);
  --clr-n-gray-blue: hsl(228, 12%, 48%);
  --clr-n-white: hsl(0, 0%, 100%);

  --fs-body:  1rem;
  --fs-header: 3rem;
  --fs-header-mobile: 2rem;

  --ff-body: 'Montserrat', sans-serif;
  --ff-heading: 'Fraunces', serif;
}

/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility Classes */

/* Layout */
.uneven-columns{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 500px;
  margin-inline: 16px;
}

@media(min-width: 47em){
  .uneven-columns{
    grid-template-columns: 45% 55%;
    grid-template-rows: 640px;
    max-width: 800px;
  }
}

/* Set Colors */
.bg-clr-cream{
  background-color: var(--clr-p-cream);
}
.bg-clr-white{
  background-color: var(--clr-n-white);
}

.clr-text-primary{
  color: var(--clr-n-dark-blue);
}
.clr-text-secondary{
  color: var(--clr-n-gray-blue);
}
.clr-text-highlight{
  color: var(--clr-p-dark-cyan);
}

/* Set font style & sizes */

.ff-body{
  font-family: var(--ff-body)
}
.ff-heading{
  font-family: var(--ff-heading);
}

.fs-body{
  font-size: var(--ff-body);
}
.fs-header{
  font-size: var(--fs-header-mobile);
}
.fs-button{
  font-size: var(--fs-button);
}
.fs-old-price{
  font-size: var(--fs-old-price);
}
@media(min-width: 24em){
  .fs-header{
    font-size: var(--fs-header);
  }
}
.fw-regular{
  font-weight: 500;
}
.fw-bold{
  font-weight: 700;
}

/* Set padding */
.padding-600{
  padding: 2rem;
}
@media(min-width: 47em){
  .padding-600{
    padding: 3rem;
  }
}

/* Custom CSS */
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family:var(--ff-body);
  color: var(--clr-n-gray-blue);
  font-size: var(--fs-body);
}
main{
  overflow: hidden;
  border-radius: 24px;;
}

@media(min-width: 47em){
  main{
    box-shadow: 0px 8px 32px var(--clr-n-gray-blue);
  }
}

/* Image settings */
.product-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 25% 35%;
}

/* Product information */
h1{
  line-height: 1;
}

/* General Product Styling */
.product-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category{
  text-transform: uppercase;
  letter-spacing: .5rem;
}

/* Pricing Styling */
.pricing{
  display: flex;
  align-items: center;
  gap: 20px;
}
.old-price{
  text-decoration:line-through;
}

/* Button Styling */
.add-cart{
  background-color: var(--clr-p-dark-cyan);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border: none;
  border-radius: 12px;
  gap: 16px;
  cursor: pointer;
  transition: all 300ms;
}
.add-cart p{
  font-size: 1rem;
  color: var(--clr-n-white);
}
.add-cart img{
  height: 24px;
}
/* Set hover effect */
.add-cart:hover{
  background-color: var(--clr-p-dark-cyan-hover);
}